# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* List of the popular languages that Data Scientists use.
* List of the commonly used libraries used by Data Scientists.
* Data science tools.
* Arithmetic expression

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. panda
2. matplotlib
3. numpy

| Data Science Tools |
----------------------
| RStudio |
| Apache Spark |      
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
print("%02d:%02d" % (divmod(minutes, 60)))

03:20

## Author
    Aminda